<h2 class = "sign_up">Sign up</h2>
<div class = "bg-image">
<div id = "bg-position">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   <div class="field">
    <%= f.label :Name, class: "input_label log-in-btn" %><br />
    <%= f.text_field :name, class: "log-in-btn"%>
  </div>

  <div class="field">
    <%= f.label :email, class: "input_label log-in-btn" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "input_label log-in-btn" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "input_label log-in-btn"  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "log-in-btn"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
