  <h3>Food creation form</h3>
  <%= form_with model: [@user, @food], url:user_foods_path(@user), method: :post, local: true do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  
      <%= form.label :name %>
      <%= form.text_field :name  %>
  
      <%= form.label :measurement_unit %>
      <%= form.text_field :measurement_unit %>   
 
      <%= form.label :quantity %>
      <%= form.number_field :quantity %>
    
      <%= form.label :price %>
      <%= form.number_field :price %>   

    
      <%= form.submit "Create Food" %>
    </div>
  <% end %>

  <%= link_to "Back to Food List", user_foods_path(current_user) %>
</div>
